$color-red: #da4747;
$color-blue: #599ded;

$font-margarine: 'Margarine', cursive;

.main-page {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    .choice {
        position: absolute;
        top: -110px;
        padding-top: 100px;
        max-width: 667px;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        z-index: 1;
    }
}

.choice img {
    max-width: 608px;
    width: 100%;
  }

.red-side, .blue-side {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    .scroll {
        animation: levitation 3s infinite;
    }
}

.red-side::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    background: url('../img/left.svg') no-repeat center;
    background-size: cover;
    z-index: -1;
    border-top: 25px solid $color-red;
    border-bottom: 25px solid $color-red;
}

.blue-side::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    background: url('../img/right.svg') no-repeat center;
    background-size: cover;
    z-index: -1;
    border-top: 25px solid $color-blue;
    border-bottom: 25px solid $color-blue;
}

@media (max-width: 712px) {
    .red-side img {
      width: 80%;
    }
    .blue-side img {
      width: 80%;
    }
    .choice img {
      width: 100%;
    }
  }
  
  @media (max-width: 649px) {
    .main-page {
      margin: auto;
    }
    .red-side img {
      width: 70%;
    }
    .blue-side img {
      width: 70%;
    }
  }

  @keyframes levitation {
    0% {margin-top: 10px;}
    50% {margin-bottom: 30px;}
    100% {margin-top: 10px;}
}