html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #F2F7FF;
}

.site__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.change__nickname-cap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 512px;
  height: 64px;
  background-color: #4B6289;
  border-radius: 16px 16px 0px 0px;
}

.change__nickname-cap .arrow__left-btn {
  margin-left: 42px;
}

.change__nickname-cap .cancel__btn {
  margin-right: 42px;
}

.arrow__left-btn {
  background-color: #4B6289;
  border: none;
}

.text {
  font-family: "Margarine", cursive;
  color: white;
  font-size: 24px;
}

.cancel__btn {
  background-color: #4B6289;
  border: none;
}

.change__nickname-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #669EFF;
  height: 68px;
}

.input__field {
  border: none;
  width: 480px;
  height: 48px;
  border-radius: 12px;
  background-color: #F2F7FF;
  color: #6C83AB;
  font-size: 18px;
  font-family: "Margarine", cursive;
  padding-left: 16px;
}

.change__nickname-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #669EFF;
  height: 68px;
  border-top: 1px solid #CCDFFF;
  border-radius: 0px 0px 16px 16px;
}

.change__nickname-bottom .save {
  margin-right: 8px;
}

.save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  font-size: 18px;
  color: #80AEFF;
  font-family: "Margarine", cursive;
  padding: 9px 32px 14px;
  border-radius: 16px;
  border: none;
  background-color: white;
}

.btn__text {
  margin: 0px;
  padding-top: 3px;
}

.mob__changes {
  width: 382px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #52678f;
  border-radius: 16px;
  height: 64px;
  padding: 8px 8px;
  display: none;
}

.arrow__right-btn__mob {
  border-radius: 16px;
  padding: 14px 32px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.cancel__btn-mob {
  border-radius: 16px;
  padding: 8.5px 32px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

@media (max-width: 520px) {
  .change__nickname-cap {
    width: 382px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .arrow__left-btn {
    display: none;
  }
  .cancel__btn {
    display: none;
  }
  .change__nickname-mid {
    width: 382px;
  }
  .input__field {
    width: 366px;
  }
  .change__nickname-bottom {
    width: 382px;
  }
  .mob__changes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 390px) {
  .change__nickname-cap {
    width: 287px;
    height: 48px;
  }
  .text {
    font-size: 18px;
  }
  .change__nickname-mid {
    width: 287px;
  }
  .input__field {
    width: 271px;
    font-size: 16px;
  }
  .change__nickname-bottom {
    width: 287px;
    height: 48px;
  }
  .save {
    padding: 10px 16px 10px;
  }
  .accept__img {
    width: 30%;
    height: 30%;
  }
  .btn__text {
    font-size: 14px;
  }
  .mob__changes {
    width: 289px;
    height: 52px;
  }
  .arrow__right-btn__mob {
    padding: 8.05px 24px;
  }
  .cancel__btn-mob {
    padding: 4.69px 20.69px;
  }
}
/*# sourceMappingURL=style.css.map */