$color-red: #da4747;
$color-blue: #599ded;

$font-margarine: 'Margarine', cursive;

.main-page {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
  }
  
  .main-page {
    .choice {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -150px;
        max-width: 667px;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        z-index: 1;
    }
  }
  .choice {
    .text {
        font-family: Margarine;
        position: absolute;
        top: 170px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 65px;
        color: #333333;
    }
  }
  .red-half-circle {
    width: 350px;
    height: 300px;
    background-color: white;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border: 25px solid #da4747;
    border-right: none;
  }
  .blue-half-circle {
    width: 350px;
    height: 300px;
    background-color: white;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border: 25px solid #599ded;
    border-left: none;
  }
  
  .choice {
    img {
        max-width: 608px;
        width: 100%;
    }
  }
  
  .red-side,
  .blue-side {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    .scroll {
        animation: levitation 3s infinite;
    }
  }
  
  .red-side::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    border: 20px solid #da4747;
    background: #e54b4b;
    z-index: -1;
  }
  
  .blue-side::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    border: 20px solid #599ded;
    background: #5ea5fa;
    z-index: -1;
  }
  
  @media (max-width: 1200px) {
    .red-side img {
      width: 40%;
    }
    .blue-side img {
      width: 40%;
    }
    .red-half-circle {
      width: 300px;
      height: 250px;
    }
    .blue-half-circle {
      width: 300px;
      height: 250px;
    }
    .choice .text {
      top: 155px;
      font-size: 38px;
      line-height: 55px;
    }
  }
  
  @media (max-width: 712px) {
    .red-half-circle {
      width: 250px;
      height: 250px;
    }
    .blue-half-circle {
      width: 250px;
      height: 250px;
    }
    .choice .text {
      top: 160px;
      font-size: 28px;
      line-height: 45px;
    }
    .red-side img {
      width: 80%;
    }
    .blue-side img {
      width: 80%;
    }
    .choice img {
      width: 100%;
    }
  }
  
  @media (max-width: 649px) {
    .red-half-circle {
      width: 200px;
      height: 250px;
    }
    .blue-half-circle {
      width: 200px;
      height: 250px;
    }
    .main-page {
      margin: auto;
    }
    .red-side img {
      width: 50%;
    }
    .blue-side img {
      width: 50%;
    }
    .blue-side::after {
      border: 12px solid #599ded;
    }
    .red-side::after {
      border: 12px solid #da4747;
    }
    .red-half-circle {
      border: 12px solid #da4747;
      border-right: none;
    }
    .blue-half-circle {
      border: 12px solid #599ded;
      border-left: none;
    }
  }
  @media (max-width: 449px) {
    .red-half-circle {
      width: 180px;
      height: 230px;
    }
    .blue-half-circle {
      width: 180px;
      height: 230px;
    }
    .choice .text {
      font-size: 18px;
      line-height: 35px;
    }
  }
  @media (max-width: 360px) {
    .red-half-circle {
      width: 140px;
      height: 200px;
    }
    .blue-half-circle {
      width: 140px;
      height: 200px;
    }
    .choice .text {
      top: 155px;
      font-size: 16px;
      line-height: 25px;
    }
    .red-half-circle {
      border-bottom-left-radius: 50%;
    }
    .blue-half-circle {
      border-bottom-right-radius: 50%;
    }
  }

  @keyframes levitation {
    0% {margin-top: 10px;}
    50% {margin-bottom: 30px;}
    100% {margin-top: 10px;}
}