body {
  background: #e5f2ff;
  font-family: Margarine;
  font-weight: 400;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.content-scroll {
  background-color: #f2f7ff;
  padding-bottom: 38px;
}

.content-scroll__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
}

.content-scroll__info {
  margin-right: 65px;
}

.content-scroll__info-top {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 19px;
  margin-left: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.content-scroll__btn {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  min-width: 89px;
  height: 48px;
  position: relative;
}

.content-scroll__btn--scroll--accepted .content-scroll__img {
  position: absolute;
  left: 20px;
  bottom: 8px;
}

.content-scroll__btn--scrols {
  margin-left: 45px;
}

.content-scroll__img {
  position: absolute;
  bottom: 0;
}

.content-scroll__level {
  position: absolute;
  top: -14px;
  left: 41px;
  font-size: 14px;
  line-height: 19px;
  color: #ffc633;
}

.content-scroll__user-photo {
  position: absolute;
  bottom: 12px;
  left: 29px;
}

.content-scroll__img--next {
  left: 20px;
}

.content-scroll__btn--next {
  width: 191px;
  padding-right: 16px;
  right: 30px;
}

.content-scroll__arrow {
  position: absolute;
  right: 20px;
  bottom: 14px;
}

.content-scroll__text-btn {
  color: #80aeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  right: 40px;
  top: 15px;
}

.content-scroll__inner {
  background-image: url(../img/bg-info.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 522px;
  height: 664px;
  position: relative;
  margin-bottom: 99px;
}

.content-scroll__user-info {
  max-width: 445px;
  width: 100%;
  height: 48px;
  background-color: #d6e6ff;
  border-radius: 32px 16px 16px 32px;
  position: absolute;
  top: 43px;
  left: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 18px;
}

.content-scroll__user-img {
  position: absolute;
  left: 1px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.content-scroll__user-text-block {
  background-color: white;
  width: 150px;
  height: 48px;
  border-radius: 24px 16px 16px 24px;
}

.content-scroll__user-text {
  margin-top: 12px;
  margin-left: 44px;
}

.content-scroll__user-flair-block {
  background-color: white;
  width: 54px;
  height: 48px;
  border-radius: 16px;
  position: absolute;
  right: 0px;
}

.content-scroll__user-flair {
  margin: auto;
  padding-top: 11.76px;
}

.content-scroll__user-name {
  font-size: 16px;
  line-height: 22px;
  color: #80AEFF;
  margin-left: 10px;
}

.content-scroll__user-views {
  margin-right: 20px;
}

.content-scroll__user-views {
  position: relative;
}

.content-scroll__user-views::after {
  content: "";
  width: 4px;
  height: 4px;
  background: #808080;
  border-radius: 50%;
  position: absolute;
  left: 70px;
  top: 50%;
}

.content-scroll__box-info {
  position: absolute;
  top: 101px;
  left: 68px;
  border-top: 1px solid #80AEFF;
  padding-top: 20px;
  border-bottom: 1px solid #80AEFF;
  padding-bottom: 150px;
}

.content-scroll__box-statistics {
  position: absolute;
  top: 550px;
  left: 42px;
  background-color: #d6e6ff;
  width: 445px;
  height: 48px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-scroll__box-statistics .views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6C83AB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 23px;
  font-size: 14px;
}

.content-scroll__box-statistics .views img {
  width: 16px;
  height: 12px;
}

.content-scroll__box-statistics .attempts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6C83AB;
}

.content-scroll__box-statistics .attempts img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.content-scroll__box-statistics .dislikes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  border-radius: 16px;
}

.content-scroll__box-statistics .dislikes .text {
  margin-right: 16px;
  margin-left: 8px;
}

.content-scroll__box-statistics .dislikes a {
  width: 55px;
  height: 48px;
  background-color: white;
  border-radius: 16px;
}

.content-scroll__box-statistics .dislikes a img {
  margin-left: 16.15px;
  margin-top: 13.57px;
}

.content-scroll__title {
  font-size: 24px;
  line-height: 32px;
  color: #00091a;
  margin-bottom: 8px;
}

.content-scroll__text {
  max-width: 406px;
  font-size: 18px;
  line-height: 24px;
  color: #001a48;
}

.content-scroll__elipse {
  width: 431px;
  height: 32px;
  background: #80aeff;
  opacity: 0.15;
  border-radius: 50%;
  margin-left: 46px;
}

.content-scroll__code {
  max-width: 758px;
  width: 100%;
}

.content-scroll__tags {
  height: 63px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 14px;
  color: #6C83AB;
  margin-bottom: 16px;
}

.text__tags {
  font-size: 18px;
}

.content-scroll__tags-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-left: 13px;
  color: #333;
}

.content-scroll__tags-item {
  background-repeat: no-repeat;
  background-size: cover;
  width: 69px;
  height: 32px;
  position: relative;
}

.content-scroll__tag {
  background-color: #fff;
  padding: 0 14px 0 11px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
}

.content-scroll__tag--array {
  left: 10px;
}

.content-scroll__tags-item--arrow {
  width: 85px;
}

.content-scroll__tags-item--array {
  width: 87px;
}

.code-screen {
  background: #101010;
  border: 2px solid #669eff;
  border-radius: 16px;
  width: 100%;
  height: 377px;
  color: #7cc0e9;
  position: relative;
  margin-bottom: 16px;
}

.code-screen__list {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  top: 16px;
  left: 60px;
  list-style-type: none;
  counter-reset: my-counter;
}

.code-screen__list-item {
  position: relative;
}

.item-neutral {
  color: #101010;
}

.code-screen__list-item::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  position: absolute;
  left: -32px;
  color: #cccccc;
}

.code-screen__sign {
  color: #fff;
}

.code-screen__comment {
  color: #6e6e6e;
}

.code-screen__symbol {
  color: #42d135;
}

.code-screen__color {
  color: #fce183;
}

.code-screen__btn {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 12px 64px;
  position: absolute;
  bottom: 32px;
  right: 32px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.content-scroll__options {
  background-color: transparent;
}

.content-scroll__options--edit {
  padding: 21px 8px 16px 10px;
  position: relative;
}

.content-scroll__options--edit::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #d6e6ff;
  border-radius: 40%;
  position: absolute;
  bottom: 0;
  left: 9px;
}

.content-scroll__options--trash {
  padding: 16px 8px 21px 10px;
}

@media (max-width: 1100px) {
  .content-scroll__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-scroll__info {
    margin-right: 0;
    margin-left: 0;
  }
  .content-scroll__inner {
    margin-bottom: 60px;
  }
}

@media (max-width: 530px) {
  .content-scroll {
    min-width: 600px;
  }
  .content-scroll .content-scroll__box {
    min-width: 600px;
  }
  .content-scroll__inner {
    left: -50px;
  }
  .content-scroll__info {
    width: 70%;
  }
  .content-scroll__info .content-scroll__inner {
    left: -50px;
  }
  .content-scroll__info .content-scroll__elipse {
    margin-left: 5px;
  }
  .content-scroll__info .content-scroll__btn--scroll--accepted {
    width: 60px;
  }
  .content-scroll__info .content-scroll__btn--scrols {
    width: 60px;
    margin-left: 10px;
  }
  .content-scroll__info .content-scroll__btn--next {
    left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */